<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png"> -->
    <Calculadora/>
  </div>
</template>

<script>
// @ is an alias to /src
import Calculadora from '@/components/Calculadora.vue'

export default {
  name: 'home',
  components: {
    Calculadora
  }
}
</script>
