<template>
    <div>
        <span>Valor A: </span>
        <input type="text" class="zt-btn-1" v-model="a">
        <span>Valor B: </span>
        <input type="text" class="zt-btn-2" v-model="b">
        <button @click="calcular(a,b)"> Sumar </button>
        <fieldset>
            <legend>Resultado</legend>
            <div class="result"> {{ result }} </div>
        </fieldset>
    </div>
</template>

<script>
export default {
    data(){
        return {
            a: 1,
            b: '',
            result:0
        }
    },
    methods: {
        calcular (a,b) {
            this.result = parseInt(a) + parseInt(b)
            this.cleanAll()
        },
        cleanAll(){
            this.a ='';
            this.b ='';
        }
    }

}
</script>

<style lang="scss" scoped>
    fieldset{
        margin-top: 2%;   
    }
</style>